.container {
  margin: 10px 0px 0px 10px;
}

.score {
  position: absolute;
  top: 150px;
}

.hiScore {
  position: absolute;
  top: 170px;
}

.stopwatch {
  position: absolute;
  top: 190px;
}

.nextDetail {
  position: absolute;
  top: 10px;
  left: 10px;
}
