@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@value config: "../../constants/config.css";
@value app-height, app-border, app-bg-color, pause-width, pause-height from config;

.container {
  height: app-height;
  width: 150px;
  border: app-border;
  border-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  color: #000;
  background: app-bg-color;
}

.containerNextDetail {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: app-bg-color;
  border-bottom: app-border;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 2.5;
  padding: 5px;
}

.info > span {
  margin-bottom: 20px;
  margin-left: 10px;
}

.containerPause {
  width: pause-width;
  height: pause-height;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;

}

.pause {
  height: pause-height;
  width: pause-width;
  align-items: center;
}

.on { opacity: 1 }
.off { opacity: 0.2 }
