@value config: "../../constants/config.css";
@value back-size, app-bg-color, front-size from config;

.block {
  display: inline-block;
}

.back {
  height: back-size;
  width: back-size;
  background-color: app-bg-color;
}

.front {
  /* 4px = 2px */
  height: front-size;
  width: front-size;
  border: 4px outset #5ca3ff;
  background-color: #00A1FF;
}
