@value config: "../../constants/config.css";
@value app-height, app-border from config;

.game {
  width: 300px;
  height: app-height;
  border: app-border;
  flex-direction: row;
  display: inline-block;
}
