.panel__container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.panel__score {
  position: absolute;
  top: 150px;
}
.panel__score::before {
  content: 'Score: '
}

.panel__hi-score {
  position: absolute;
  top: 170px;
}
.panel__hi-score::before {
  content: 'Hi-Score: '
}
